<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNest</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>
                TechNest
            </h1>
        </div>
    </header>
    <section class="conteiner">
        <div class="login__form">
            <div class="login__title">
                <h2>
                    Login
                </h2>
            </div>
            <form action="/login" method="POST">
                <div class="login__email">
                    <input type="email" name="email" id="email" placeholder="Seu email">
                </div>
                <div class="login__senha">
                    <input type="password" name="senha" id="senha" placeholder="Sua senha">
                </div>
                <div class="login__btn">
                    <input type="submit" value="Enviar" name="submit" onclick="{{ click__btn__login }}">
                </div>
                <div class="login__options">
                    <div class="login__cadastrar">
                        <a href="/cadastrar">Criar conta</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>