*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(13, 17, 23);
}
header.header{
    background-color: rgb(1, 4, 9);
    color: #e6edf3;
    padding: 1em;
    box-shadow: 1px 0 3px rgba(255,255,255,0.3);
}
div.index__informations{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header.header div.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
/* header.header div.search input[type=submit]{
    display: none;
}
label[for=submit]{
    padding: 10px 10px;
    color: white;
    border: 1px solid rgb(48, 54, 61);
} */
header.header button{
    background: none;
    color: white;
    border: 1px solid rgb(48, 54, 61);
    outline: none;
    padding: 8px;
    border-radius: 10px;
    cursor:pointer;
}
header.header div.search input{
    border: 1px solid rgb(48, 54, 61);
    outline: none;
    padding: 10px 2.2em;
    background: transparent;
    border-radius: 10px;

}
section.conteiner div.login__form{
    /* background: rgb(22, 27, 34); */
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 5px;
    /* box-shadow: 1px 0 3px rgba(255,255,255,0.3); */
}
div.login__title{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.login__email input, div.login__senha input, div.login__email input:hover, div.login__senha input:hover{
    border: 1px solid rgb(48, 54, 61);
    width: 100%;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    outline: none;
    background: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
div.login__btn input{
    background: rgb(31,121,58);
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 0 3px rgba(255,255,255,0.3);
}
div.login__cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.login__cadastrar a{
    color: rgb(47,129,247);
    font-weight: bolder;
    text-decoration: none;
    padding: 10px;
}
div.login__cadastrar a:hover{
    text-decoration: underline rgb(47,129,247);
}
div.options{
    display: flex;
    gap: 10px;
    font-weight: bolder;
    font-size: 15px;
}
div.options a{
    text-decoration: none;
    color: white;
}
div.options div.recentes a{
    text-decoration: underline white;
    color: white;
}
div.recentes{
    display: flex;
    gap: 5px;
}
div.post__title a{
    color: white;
}
div.post__micro__information p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.conteiner__post{
    margin: auto;
    color: white;
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
}