*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(13, 17, 23);
}
header.header{
    background-color: rgb(1, 4, 9);
    color: #e6edf3;
    padding: 1em;
    display: flex;
    align-items: center;
    box-shadow: 1px 0 3px rgba(255,255,255,0.3);
    justify-content: space-between;
}
header.header div.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
header.header div.search input[type=submit]{
    display: none;
}
header.header div.search input{
    border: 1px solid rgb(48, 54, 61);
    outline-color: #23abff;
    padding: 10px 2.2em;
    background: transparent;
    border-radius: 10px;

}